NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

WOOCOMMERCE_URL=https://www.socialahorro.com
WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=

NEXT_PUBLIC_APP_URL=http://localhost:3001
SYNC_CRON_SECRET=
